<figure class="sound-item">
  <figcaption>
    <button class="sound__trigger" {{action 'playSound' soundUrl}}>
      Random sound
    </button>
  </figcaption>
  <img {{bind-attr src="coverUrl"}} alt="fileName" class="sound__cover" />
</figure>
