<figure class="sound-item">
  <figcaption>
    <button class="sound__trigger" {{action 'playSound' soundUrl}}>
      {{title}}
    </button>
  </figcaption>
  <img {{bind-attr src="coverUrl"}} alt="fileName" class="sound__cover" />
  {{#link-to 'show' fileName class="sound__link"}}i{{/link-to}}
</figure>
