<div class="sbd-Sound">
  <button class="sbd-SoundTrigger" {{action 'playSound' soundUrl}}>
    {{title}}
  </button>
  <img {{bind-attr src="coverUrl"}} alt="fileName" class="sbd-SoundCover" />
  {{#link-to 'show' sound class='sbd-SoundLink'}}i{{/link-to}}
</div>
