html, body{
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: Georgia;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* ------------------------------------------------- */

.Soundboard{
  text-align: center;
  width: 268px;
  height: 268px;
  border: 1px solid #B5BCC3;
  margin: 1em;
  position: relative;
  float: left;
}

.Soundboard:after{
  position: absolute;
  content: "";
  top: -23px;
  right: -24px;
  width: 45px;
  height: 44px;
  border-left: 1px solid #B5BCC3;
  background-color: white;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

  .Soundboard-Logo{
    width: 55%;
    margin: 3.5em 0 1em 0;
  }

  .Soundboard-Tagline{
    color: #697D8D;
    display: inline-block;
    border-top: 1px solid #B5BCC3;
    padding-top: 15px;
  }

  .Soundboard-TaglineAuthor{
    display: block;
    color: #E74C3C;
  }

  .Soundboard-Tagline,
  .Soundboard-TaglineAuthor,
  .sbd-SoundTrigger{
    font-family: Georgia;
    font-style: italic;
  }



/* --------------------------------------- */


.sbd-Sound {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

  .sbd-SoundCover {
    position: relative;
    display: block;
    max-width: 100%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }

  .sbd-SoundTrigger{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background: -webkit-linear-gradient(45deg, #1A2530 0%, #34495E 25%, #2C3E50 50%, #E74C3C 100%);
    background: linear-gradient(45deg, #1A2530 0%, #34495E 25%, #2C3E50 50%, #E74C3C 100%);
    color: #FFF;
    font-size: .85rem;
    padding: 1.5em;
    cursor: pointer;
    opacity: .75;
  }

  .sbd-SoundLink{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #34495E;
    padding: 2px 9px;
    text-decoration: none;
    font-style: italic;
    opacity: .2;
  }
    .sbd-SoundLink:hover{
      background-color: #1A2530;
    }

  /* Hover states */
  .sbd-Sound:hover .sbd-SoundLink{
    z-index: 2;
    opacity: 1;
  }

  .sbd-Sound:hover .sbd-SoundCover{
    opacity: 0.1;
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
  }

  .sbd-Sound:hover .sbd-SoundTrigger{
    z-index: 2;
    cursor: pointer;
  }







/* Single Sound Page */

.sdb-Overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: visible;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: .95;
  background: -webkit-linear-gradient(45deg, #1A2530 0%, #34495E 25%, #2C3E50 50%, #E74C3C 100%);
  background: linear-gradient(45deg, #1A2530 0%, #34495E 25%, #2C3E50 50%, #E74C3C 100%);
}

.sdb-SoundDetails{
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  min-width: 320px;
  height: auto;
  z-index: 2;
  background-color: white;
}

  .sdb-SoundDetails-title{
    margin: 0px;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    opacity: 0.8;
    border-bottom: 1px solid #B5BCC3;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1);
  }

  .sdb-SoundDetails-content{
    padding: 2em;
  }
  .sdb-SoundDetails-source{

  }