<div class="app">
  <div class="soundboard">
    <h1 class="visuallyhidden">Soundboard</h1>
    <!--svg class="soundboard__logo"></svg-->
    <span class="soundboard__tagline">&ldquo;Without sound, life would<br>be fucking boring.&rdquo;</span>
    <span class="soundboard__tagline-author">&ndash;Someone</span>
  </div>

  <div class="main">
  {{outlet}}
  </div>
</div>