<div class="app">
  <div class="soundboard">
    <h1 class="visuallyhidden">Soundboard</h1>
    <svg version="1.1" class="soundboard__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 217.241 91.278" enable-background="new 0 0 217.241 91.278" xml:space="preserve">
      <path fill="#1A2530" d="M23.839,14.03c-1.011-3.686-4.221-5.41-7.193-5.41s-4.696,1.486-4.696,3.151   c0,2.735,4.161,3.745,9.214,5.588c6.183,2.259,12.663,5.766,12.663,12.9c0,7.609-6.54,13.019-16.229,13.019   C8.917,43.278,2.735,38.463,0,30.676l9.571-2.557c1.07,3.151,4.042,6.302,8.441,6.302c3.567,0,5.231-1.665,5.231-3.686   c0-3.329-4.875-4.161-10.819-6.42c-4.994-1.902-10.76-4.637-10.76-11.949C1.665,5.886,8.204,0,17.24,0   c7.966,0,14.268,4.875,16.229,11.414L23.839,14.03z"/>
      <path fill="#2C3E50" d="M58.976,0c11.949,0,21.64,9.096,21.64,21.64c0,12.543-9.69,21.639-21.64,21.639   c-11.949,0-21.58-9.095-21.58-21.639C37.396,9.096,47.027,0,58.976,0z M58.976,33.41c6.777,0,11.236-4.815,11.236-11.771   c0-7.015-4.458-11.771-11.236-11.771c-6.717,0-11.176,4.756-11.176,11.771C47.8,28.595,52.259,33.41,58.976,33.41z"/>
      <path fill="#34495E" d="M123.304,14.418v9.54c0,12.484-7.372,19.32-18.37,19.32c-11.057,0-18.369-6.836-18.369-19.32V0.833h9.987   V23.72c0,7.134,2.913,10.225,8.382,10.225c5.47,0,8.382-3.091,8.382-10.225V0.833L123.304,14.418z"/>
      <path fill="#E74C3C" d="M168.25,14.293v28.153h-9.393l-8.501-11.592c-3.805-5.231-9.394-13.138-9.453-13.138h-0.059   c-0.06,0,0.059,6.42,0.059,15.516v9.214h-9.987V0.833h9.394l8.857,11.89c2.675,3.567,9.036,12.543,9.096,12.543h0.06   c0.06,0-0.06-7.372-0.06-14.921V0.833L168.25,14.293z"/>
      <path fill="#E74C3C" d="M195.72,0.833c11.89,0,21.521,8.501,21.521,20.985c0,12.484-9.631,20.628-21.521,20.628h-18.191V0.833   H195.72z M195.72,33.113c5.944,0,11.117-4.161,11.117-11.295s-5.173-11.652-11.117-11.652h-8.204v22.947H195.72z"/>
      <path fill="#1A2530" d="M18.895,48.833c7.431,0,12.604,4.934,12.604,10.998c0,3.924-2.675,7.253-5.172,8.145v0.06   c3.924,1.07,7.312,5.588,7.312,9.809c0,6.956-4.577,12.604-14.862,12.604H0.823V48.833H18.895z M16.814,65.062   c2.675,0,4.637-1.664,4.637-3.923c0-2.26-1.962-3.924-4.637-3.924H10.81v7.847H16.814z M17.766,82.064   c3.329,0,5.41-1.962,5.41-4.696c0-2.913-2.259-4.697-5.41-4.697H10.81v9.394H17.766z"/>
      <path fill="#2C3E50" d="M59.085,48c11.949,0,21.64,9.096,21.64,21.64c0,12.543-9.69,21.639-21.64,21.639   c-11.949,0-21.58-9.096-21.58-21.639C37.506,57.096,47.137,48,59.085,48z M59.085,81.41c6.777,0,11.236-4.815,11.236-11.771   c0-7.016-4.458-11.771-11.236-11.771c-6.717,0-11.176,4.756-11.176,11.771C47.91,76.595,52.368,81.41,59.085,81.41z"/>
      <path fill="#34495E" d="M112.99,83.907H96.523l-2.378,6.539h-10.76l16.646-41.614h9.452l16.646,41.614h-10.76L112.99,83.907z    M109.78,75.168l-2.973-8.085c-0.892-2.378-1.961-6.123-2.021-6.123h-0.06c-0.059,0-1.129,3.745-2.021,6.123l-2.973,8.085H109.78z   "/>
      <path fill="#E74C3C" d="M195.575,48.833c11.891,0,21.521,8.501,21.521,20.985c0,12.484-9.63,20.629-21.521,20.629h-18.19V48.833   H195.575z M195.575,81.113c5.945,0,11.117-4.162,11.117-11.296s-5.172-11.651-11.117-11.651h-8.203v22.947H195.575z"/>
      <path fill="#E74C3C" d="M166.913,64.588l-11.685-15.349c-1.542-0.323-3.207-0.6-5.005-0.6H134.62v42h10v-14h5.186l7.728,14h11.177l-9.215-15.434C163.872,73.152,166.474,69.427,166.913,64.588z M151.589,68.639h-6.969v-10h6.969c3.566,0,4.993,2.741,4.993,5C156.583,65.898,155.156,68.639,151.589,68.639z"/>
    </svg>
    <span class="soundboard__tagline">&ldquo;Without sound, life would<br>be fucking boring.&rdquo;</span>
    <span class="soundboard__tagline-author">&ndash;Someone</span>
  </div>

  {{outlet}}
</div>