<ul style="margin-left: 20em">
  <li>title: {{title}}</li>
  <li>fileName: {{fileName}}</li>
  <li>id: {{id}}</li>
  {{#if source}}
    <li>source: <a {{bindAttr href="source"}}>Source</a></li>
  {{/if}}
</ul>
