<div class="sdb-Overlay"></div>
<div class="sdb-SoundDetails">
  <h2 class="sdb-SoundDetails-title">{{title}}</h2>
  <div class="sdb-SoundDetails-content">
    {{sound-details title=title fileName=fileName sound=this}}
    {{#if source}}
      <a class="sdb-SoundDetails-source" {{bindAttr href="source"}}>Source</a>
    {{/if}}
  </div>
</div>