<div class="soundItem">
  <h2 class="soundItem-title">{{title}}</h2>
  <div class="soundItem-details">
    {{fileName}}
    {{#if source}}
      <a {{bindAttr href="source"}}>Source</a>
    {{/if}}
  </div>
</div>
<div class="overlay"></div>